<style>
.footer {
    margin-bottom: 0px;
    padding: 8px 1rem 1rem 1rem;
    background-color: rgba(230,230,230,0.5);
}

.footer-copyright {
    background-color: rgba(0,0,0,0.9);
    color: #FFF;
}
</style>

<section class="footer">
    <h5 class="center">DevCom</h5>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m6 l3">
            <h6>Use Dev Com</h6>
            <ul class="col s12">
                <li>
                    <a routerLink="" class="waves-effect"><i class="material-icons">home</i>Home</a>
                </li>
                <li>
                    <a routerLink="/about" class="waves-effect"><i class="material-icons">event</i>Evento</a>
                </li>
                <li>
                    <a routerLink="/shop" class="waves-effect"><i class="material-icons">shopping_basket</i>Ingressos</a>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l3">
            <h6>Palneje Eventos</h6>
            <ul class="col s12">
                <li>
                    <a routerLink="" class="waves-effect">Inscreições online</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Cursos</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Conferencias</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Maratonas</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Arte</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Religiosos</a>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l3">
            <h6>Encontre Eventos</h6>
            <ul class="col s12">
                <li>
                    <a routerLink="" class="waves-effect">São Paulo</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Rio de Janeiro</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Belo Horizonte</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Curitiba</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Brasília</a>
                </li>
                <li>
                    <a routerLink="/" class="waves-effect">Fortaleza</a>
                </li>
            </ul>
            
        </div>
        <div class="col s12 m6 l3">
            <h6>Bio</h6>
            <p> Meu nome é <b>Lucas Costa</b> e sou o dsenvolvedor desta aplicação. <br><br>
            Sou Pogramador <b>a mais de 9 anos</b> e domino tecnologias como <b>PHP, Java, Javascript, C++, Go</b> e outros. <br><br> 
            Neta plataforma resolvi fazer um teste de extensão do <b>Framwork Angular</b>. Assim fiz toda a plataforma com um grande <b>monolito front-end em Angular</b> sem recorrer ao auxilio de tenologias back-end.<br>
            Reconheço que foi satisfatótio e o Angular respondeu bem ao desafio mas tem suas limitações para escalabilidade.</p>
        </div>
    </div>
    
</section>
<div class="footer-copyright center">
    <div class="container">
    © 2021 Copyright by <b>Lucas Costa</b>
    </div>
</div>