<style>
    .perfil {
        background-color: #FAFAFA;
        min-height: 80vh;
    }

    .perfil .perfil-settings > *,
    .perfil .perfil-name > *,
    .perfil .perfil-contact > * {
        border: solid 1px #DDD;
        background-color: #FFF;
        margin: 2rem 0.5rem 1rem;
        padding: 0 1rem 0.5rem 1rem;
    }

</style>
<section class="perfil row">

    <div class="perfil-settings col s12">
        <a class="btn-flat waves-effect" (click)="control.modal=!control.modal">
            <i class="material-icons left">edit</i>Editar
        </a>
    </div>

    <div class="perfil-preload preloader-wrapper big active" *ngIf="control.preload">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <div class="perfil-name col s12 m6" *ngIf="!control.preload">
        <div>
            <h4>{{user.name}} <small>{{user.surname}}</small></h4>
            <h5>BI: {{user.bi}} </h5>
        </div>
    </div>
    <div class="perfil-contact col s12 m6" *ngIf="!control.preload">
        <div>
            <h4>Contato</h4>
            <p>E-mail: {{user.email}}</p>
            <p>Telefone: {{user.telephone}}</p>
        </div>
    </div> 

    <div class="modal" [modalControl]="control.modal" style="box-sizing: border-box; padding: 0;">
        <div class="modal-content row" style="clear: both;">
            
            <div class="progress" *ngIf="control.bar"><div class="indeterminate"></div></div>

            <h4><i class="material-icons left">account_box</i>Atualizando Perfil</h4>
            <div class="divider"></div><br>
            
            <div class="input-field col s12 m6">
                <input id="name" name="name" type="text" [(ngModel)]="user.name" >
                <label class="active" for="name">Nome:</label>
            </div>

            <div class="input-field col s12 m6">
                <input id="surname" name="surname" type="text" [(ngModel)]="user.surname">
                <label class="active" for="surname" >Sobrenome</label>
            </div>

            <div class="input-field col s12 m6">
                <input id="email" name="email" type="text" [(ngModel)]="user.email">
                <label class="active" for="email" >E-mail</label>
            </div>

            <div class="input-field col s12 m6 ">
                <input id="telephone" name="telephone" type="text" [(ngModel)]="user.telephone">
                <label class="active" for="telephone" >Telefone</label>
            </div>

        </div>
 
        <div class="modal-footer row">
            <a class="waves-effect btn green" (click)="onSave(user)">
                <i class="material-icons left">save</i> Salvar
            </a>
        </div>
    </div>

</section>