<section class="container">
    
    <div class="row">
        <h5 class="center">Para adquirir um ingresso ou consultar sua compra é necessário fazer o login</h5>
    </div>
    
    <div class="row">
        <form class="form col s12 md9" (ngSubmit)="onSubmit(user)">
            <div class="progress {{(control.bar) ? 'active' : '' }}"><div class="indeterminate"></div></div>
             <legend>Login</legend>
             <div class="row">
                 <div class="input-field col s12">
                     <input name="email" type="email" id="email" [(ngModel)]="user.email">
                     <label for="email">Email</label>
                 </div>
             </div>
             <div class="row">
                 <div class="input-field col s12">
                     <input name="password" type="password" id="password" [(ngModel)]="user.password">
                     <label for="password">Palavra passe</label>
                 </div>
             </div>
             <div class="row">
                <span class="alert">
                    <em *ngFor="let alert of control.alerts"> {{alert}}</em>
                </span>
                 <button class="btn btn-large waves-effects waves-light" type="submit">Entrar</button>
                 
             </div>
             <div class="row">
                <hr>
                    <a class="btn btn-small green waves-effects waves-light" >Esquecia senha</a>
                    <a routerLink="/sign" class="btn btn-small green waves-effects waves-light" >Criar uma conta</a>
             </div>
        </form>
    </div>
    
    <div class="modal" [modalControl]="control.modal">
        <div class="modal-content">
            <h4 class="center">{{control.message}}</h4>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</section>
