<section class="sign-container row">
    <form class="form col s12" (ngSubmit)="onSubmit(user)">
        <div class="progress {{(control.bar) ? 'active' : '' }}"><div class="indeterminate"></div></div>
        <legend>Sign</legend>
        <div class="row">
            <div class="input-field col s12 m6 {{(control.alerts.name) ? 'alert' : ''}}">
                <input id="name" type="text" class="validate" name="name" [(ngModel)]="user.name">
                <label for="name">Nome:</label>
            </div>
            <div class="input-field col s12 m6 {{(control.alerts.surname) ? 'alert' : ''}}">
                <input id="surname" type="text" class="validate" name="surname" [(ngModel)]="user.surname"> 
                <label for="surname">Sobrenome:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 m6 {{(control.alerts.telephone) ? 'alert' : ''}}">
                <input id="telephone" type="tel" class="validate" name="telephone" [(ngModel)]="user.telephone">
                <label for="telephone">Telefone:</label>
            </div>
            <div class="input-field col s6 m6 {{(control.alerts.bi) ? 'alert' : ''}}">
                <input id="bi" type="text" class="validate" name="bi" [(ngModel)]="user.bi">
                <label for="bi">Bibliete de Identificação:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 {{(control.alerts.email) ? 'alert' : ''}}">
                <input id="email" type="email" class="validade" name="email" [(ngModel)]="user.email">
                <label for="email">E-mail</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 m5 {{(control.alerts.password) ? 'alert' : ''}}">
                <input id="password" type="{{control.password}}" class="validate" name="password" [(ngModel)]="user.password">
                <label for="password">Palavra Passe</label>
            </div>
            <div class="input-field col s10 m5 {{(control.alerts.password) ? 'alert' : ''}}">
                <input id="mirror" type="{{control.password}}" class="validade" name="mirror" [(ngModel)]="control.mirror">
                <label for="mirror">Repetir a Senha</label>
            </div>
            <div class="input-field col s2 m2" (click)="control.toggleEye()">
                <i class="material-icons prefix">{{control.eye}}</i>
            </div>
        </div>
        <div class="row">
            <span class="alert">
                <em *ngFor="let alert of control.notifications"> {{alert}}</em>
            </span>
            <button type="submit" class="btn btn-large waves-effect waves-light">Cadastrar</button>
        </div>
        <div class="row">
            <hr>
             <a routerLink="/login" class="btn btn-small orange waves-effects waves-light" >Já tenho uma conta</a>
         </div>
    </form>

    <div class="modal" [modalControl]="control.modal">
        <div class="modal-content">
            <h4>Cadastro</h4>
            <p>{{control.message}}</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn red" (click)="control.modal=false">fechar</a>
        </div>
    </div>

</section>