<style>

    .home-container {
        margin: 0;
    }

    .box {
        padding: 8px 32px;
    }

    .box-tabs {
        height: auto;
        min-height: auto;
        background-color: rgba(0,0,0,0.03);
        padding-top: 24px;
    }

    .tabs a {
        color: black;
    }
    
</style>

<section class="home-container row">

    <div class="carousel carousel-slider center col s12" [mCarousel]="{indicators: true, fullWidth: true}">
        <a class="carousel-item"  routerLink="{{slider.link}}" *ngFor="let slider of control.sliders">    
            <img src="{{slider.img}}" />
        </a>
    </div>

    <div class="col s12 box">
        <h5> Seu <strong>evento</strong> está no lugar certo</h5>
        <div class="divider"></div>
        <p>Conheça um pouco dos eventos que utilizam nossa plataforma.</p>
    </div>

    <div class="carousel carousel-slider center col s10 offset-s1" [mCarousel]="{indicators: true}">
        
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">login</a>
        </div>

        <a class="carousel-item" routerLink="{{car.link}}" *ngFor="let car of control.carousel">
            <img src="{{car.img}}" />
        </a>
    </div> 

    <div class="col s12 box">
        <h4>Eventos populares <strong>Online</strong></h4>
        <div class="divider"></div>
    </div>

    <div class="col s12">

        <ul class="tabs" [mTabs]="{swipeable:true}">
            <li class="tab col s3" *ngFor="let cat of control.categories">
                <a href="#{{cat.search}}" >{{cat.name}}</a>
            </li>
        </ul>
        
        <div id="{{cat.search}}" class="col s12 box-tabs" *ngFor="let cat of control.categories">

            <div class="col s4" *ngFor="let event of cat.events">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{event.img}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{event.name}}<i
                                class="material-icons right">more_vert</i></span>
                        <p><a routerLink="{{event.link}}">Ver Mais</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{event.name}}<i
                                class="material-icons right">close</i></span>
                        <p>{{event.description}}</p>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</section>