<section class="home-container row">

    <figure style="width: 100%; padding: 0; margin: 0;">
        <img style="width: 100%;" src="assets/images/sources/arte-1.jpeg">
    </figure>

    <div class="modal" [modalControl]="control.modalTicket">
        <div class="modal-content">
            <h3 class="center">QR Code</h3>
            <h5>{{control.modalMessage}}</h5>
        </div>
        <div class="modal-footer">
            <a class="modal-close btn waves-effect waves-ligth red">Fechar</a>
          </div>
    </div>
</section>