<style>
    .ticket {
        border: solid 1px #CCC;
        box-sizing: border-box;
        padding: 0.2rem;
        max-width: 330px;
        display: block;
        margin: 2px auto 4px auto;
        text-align: left;
    }

    .ticket .ticket-del, 
    .ticket .ticket-logo,
    .ticket .ticket-title,
    .ticket .ticket-seat,
    .ticket .ticket-owner,
    .ticket .ticket-date,
    .ticket .ticket-edition,
    .ticket .ticket-address {
        margin: 0;
        padding-top: 0.1rem;
        padding-bottom: 0.2rem;
    }

    .ticket .ticket-del {
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-right: 0.3rem;
        padding-top: 0.1rem;
    }

    .ticket .ticket-logo {
        max-height: 63px;
        height: 60px;
    }

    .ticket .ticket-logo img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .ticket .ticket-title {
        padding: 0.2rem;
        padding-top: 0.3rem;
        font-size: 1.1rem;
    }

    .ticket .ticket-seat {
        text-align: right;
    }

    .ticket .ticket-seat > * {
        display: inline-block;
        text-align: right;
        margin: 0 4px;
    }

    .ticket .ticket-owner {
        font-size: 1.1em;
    }

    .ticket .ticket-date {
        font-size: 0.9em;
    }

    .ticket .ticket-date > * {
        display: block;
    }

    .ticket .ticket-edition {
        text-align: right;
        font-size: 0.7em;
    }

    .ticket .ticket-address {
        font-size: 0.8em;
        padding-bottom: 0.3rem;
    }

    .ticket .ticket-qr-code {
        margin: -42px auto 0 auto;
        text-align: right;
    }

    .ticket .ticket-back {
        border: solid 1px #F00;
    }

</style>

<section class="ticket row">

    <i class="ticket-del col s1 material-icons right" *ngIf="control.displayDelete" (click)="deleteTicket()">delete</i>

    <figure class="ticket-logo col s4">
        <img style="object-fit: cover;" class="rigth" src="{{ticket.event.logoUrl}}">
    </figure>

    <h6 class="ticket-title col s7">{{ticket.event.name}}</h6>
    
    <small class="ticket-seat col s8 right">
        <span>Assento: <b>{{ticket.seat.session}}</b></span>
        <span>Tipo: <b>{{ticket.seat.type}}</b></span>
    </small>

    <div class="ticket-date col s7">
        <span>{{ticket.event.date}}</span>
        <span>Início: <b>{{ticket.event.hour}}</b></span>
    </div>

    <div class="ticket-edition col s5">
        <p>TR: <b>{{ticket.edition.circulation}}</b> | N: <b>{{ticket.edition.serial}}</b></p>
    </div>

    <div class="ticket-owner col s12">
        <strong>Nome: {{ticket.owner}}</strong>
    </div>

    <div class="ticket-address col s12">
        <span>Local: <b>{{ticket.event.address}}</b></span>
    </div>
    <div class="ticket-qr-code col s12" *ngIf="control.displayQr">
        <button class="btn waves-effect green"  (click)="generateQRCode()">
            <i class="material-icons left">border_outer</i>QR Code
        </button> 
    </div>
    <div class="ticket-back col s12">
        <qrcode [qrdata]="ticket.tid" [size]="256" [level]="'M'" *ngIf="control.displayQr"></qrcode>
    </div>
    
</section>
